* {
	margin:0;
	padding:0;
}
:root {
	font-size:14px;
	color:#333;
	background:#fff;
}
body {
	line-height:1.6;
	font-family:Arial,x-locale-body,sans-serif;
}
h1 {
	font-size: 2em;
}
.pagebox {
	width:750px;
	margin:0 auto;
}
.pagebox.admin {
	width:1200px;
}
ul,ol,li {
	list-style:none;
}
a {
	text-decoration: none;
	color: inherit;
}
.clear::after {
	content:'';
	display:block;
	clear:both;
}
.logo {
	font-size:24px;
	font-weight:bold;
}
.asidebox {
	float:left;
	width:200px;
}
.contentbox {
	float:left;
	width:1000px;
}
