<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UA Admin</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <style>
        span.article-list-span {
            float: left;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
        }

        span.article-list-span.time {
            width: 150px;
        }

        span.article-list-span.title {
            width: 600px;
        }

        span.article-list-span.do {
            width: 150px;
        }
    </style>
</head>

<body>
    <header class="clear pagebox admin">
        <div class="logo asidebox">UA Admin</div>
        <nav class="contentbox">
            <ul>
                <li>文章管理</li>
            </ul>
        </nav>
    </header>
    <section class="content pagebox admin">
        <nav class="asidebox">
            <ul>
                <li>文章列表</li>
                <li>添加文章</li>
            </ul>
        </nav>
        <section class="main contentbox">
            <ul>
                <li class="head clear">
                    <span class="article-list-span time">时间</span>
                    <span class="article-list-span title">标题</span>
                    <span class="article-list-span do">操作</span>
                </li>
                {% for d in data %}
                <li class="clear">
                    <span class="article-list-span time">{{d.newTime}}</span>
                    <span class="article-list-span title">{{d.title}}</span>
                    <span class="article-list-span do">
                        <button>编辑</button>
                        <button onclick="delAticle(`{{d.id}}`)">删除</button>
                    </span>
                </li>
                {% else %}
                <li>暂无数据</li>
                {% endfor %}
            </ul>
        </section>
    </section>

</body>

<script>
    function delAticle(id) {
        let msg = '确认删除？';
        let isConfirm = confirm(msg);
        if (isConfirm) {
            url = './newsDel?id=' + id;
            get(url, (res) => {
                console.log(res);
                alert(res.msg);
                if (res.status == 1) {
                    location.reload();
                }
            })
        }
    }

    function get(url, callback, dataTpye = 'json') {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
            if (xhr.readyState == 4 && xhr.status == 200) {
                res = dataTpye == 'json' ? JSON.parse(xhr.responseText) : xhr.responseText;
                typeof callback == 'function' && callback(res);
            }
        }
        xhr.open('GET', url, true);
        xhr.send();
    }
</script>

</html>