<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UA Admin</title>
    <link rel="stylesheet" href="/css/base.css">
    <style>
        span.article-list-span {
            float: left;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
        }

        span.article-list-span.time {
            width: 150px;
        }

        span.article-list-span.title {
            width: 600px;
        }

        span.article-list-span.do {
            width: 150px;
        }
        .pagebtn {
            margin-right: 10px;
            padding: 0 4px;
        }
    </style>
</head>

<body>
    <header class="clear pagebox admin">
        <div class="logo asidebox">UA Admin</div>
        <nav class="contentbox">
            <ul>
                <li>文章管理</li>
            </ul>
        </nav>
    </header>
    <section class="content pagebox admin">
        <nav class="asidebox">
            <ul>
                <li><a href="/admin/news">文章列表</a></li>
                <li><a href="/admin/newsAdd">添加文章</a></li>
            </ul>
        </nav>
        <section class="main contentbox">
            <ul>
                <li class="head clear">
                    <span class="article-list-span time">时间</span>
                    <span class="article-list-span title">标题</span>
                    <span class="article-list-span do">操作</span>
                </li>
                {% for d in data %}
                <li class="clear">
                    <span class="article-list-span time">{{d.update_time}}</span>
                    <span class="article-list-span title">{{d.title}}</span>
                    <span class="article-list-span do">
                        <a href="/admin/newsView?id={{d.id}}"><button>编辑</button></a>
                        <button onclick="delAticle(`{{d.id}}`)">删除</button>
                    </span>
                </li>
                {% else %}
                <li>暂无数据</li>
                {% endfor %}
            </ul>

            <nav>
                {% for i in range(1, totalPage+1) -%}
                <a href="/admin/news?page={{i}}"><button class="pagebtn">{{i}}</button></a>
                {%- endfor %}
            </nav>
        </section>
    </section>

</body>

<script src="/js/base.js"></script>
<script>
    function delAticle(id) {
        let msg = '确认删除？';
        let isConfirm = confirm(msg);
        if (isConfirm) {
            url = '/admin/newsDel?id=' + id;
            Xhr.get(url, (res) => {
                alert(res.msg);
                if (res.status == 1) {
                    location.reload();
                }
            })
        }
    }

</script>

</html>