<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UA</title>
    <link rel="stylesheet" href="/css/base.css">
    <style>
        .logo {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header class="pagebox">
        <div class="logo">UA Articl List</div>
    </header>
    <section class="content page-box">

    </section>
</body>

</html>